<template>
  <div>
    <div v-if="processing" class="text-center">
      <h2>Loading...</h2>
    </div>
    <div v-else>
      <div class="text-center" v-if="questionIndex < questions.length" :key="questionIndex">
        <h2 class="py-4">{{ questions[questionIndex].question }}</h2>

        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-block btn-outline-success" v-for="(response, index) in questions[questionIndex].answers" @click="next(index)" :key="index">
            {{ response.answer }}
          </button>
        </div>

        <div class="progress my-3">
          <div class="progress-bar" role="progressbar" :style="{ width: `${(questionIndex / questions.length) * 100}%` }" :aria-valuenow="(questionIndex/questions.length) * 100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div v-else :key="questionIndex" >
        <h3 class="text-center py-3">Total score: {{ score }}</h3>
        <ul class="list-group">
          <li
            v-for="(question, index) in questions"
            :key="index"
            class="list-group-item d-flex justify-content-between align-items-center"
            :class="(question.answers[userResponses[index]].correct) ? 'list-group-item-success' : 'list-group-item-danger'"
          >
            {{ question.question }} {{ question.answers[userResponses[index]].answer }}
            <span v-if="!question.answers[userResponses[index]].correct"><b>Correct Answer:</b> {{ question.answers.find( ({ correct }) => correct ).answer }}</span>
          </li>
        </ul>
        <br>
        <button class="btn btn-block btn-success" @click="restart()">New Game</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      questions: [],
      questionIndex: 0,
      userResponses: [],
      score: '',
      processing: false
    }
  },
  methods: {
    restart: function () {
      Object.assign(this.$data, this.$options.data())
      this.getQuestions()
    },
    next: function (index) {
      Vue.set(this.userResponses, this.questionIndex, index)

      if (this.questionIndex < this.questions.length) {
        this.questionIndex++
      }

      if (this.questionIndex >= this.questions.length) {
        this.calcScore()
      }
    },
    calcScore: function () {
      let correct = 0

      for (let i = 0; i < this.userResponses.length; i++) {
        if (this.questions[i].answers[this.userResponses[i]].correct) {
          correct++
        }
      }

      axios.post('/game', { correct: correct, total: this.questions.length })
        .then(response => {
          if (response.data) {
            this.score = response.data
          }
        })
    },
    getQuestions () {
      this.processing = true

      axios.get('/game')
        .then(response => {
          if (response.data) {
            this.questions = response.data
          }
        }).finally(() => {
        this.processing = false
      })
    }
  },
  created() {
    this.restart()
  }
}
</script>
